body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87CEEB; /* Light blue to mimic sky */
}

canvas {
    background-color: #ffffff;
    border: 1px solid black;
}
